@{
    ViewData["Title"] = "Página Inicial";
}


<section class="hero-section text-center">
    <div class="container">
        <h1 class="display-3 fw-bold">Sua Confeitaria Online 🍰</h1>
        <p class="lead text-muted">Gerencie suas receitas, ingredientes e pedidos em um só lugar.</p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
            <a href="Pedido" class="btn btn-danger text-white btn-lg px-4 gap-3">Novo Pedido</a>
            <a href="Receita" class="btn btn-danger text-white btn-lg px-4 gap-3">Ver Receitas</a>
        </div>
    </div>
</section>